**/*.md
**/*.txt
**/.*
!**/.cargo
**/build
**/Dockerfile
**/*.Dockerfile
**/build-with-docker.sh
lambda-out
**/node_modules
**/qwdata
**/target
docs
examples
!.git/
!quickwit-ui/build/.gitignore
!quickwit-ui/.gitignore_for_build_directory
